{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Our beautiful projects</h1>



        {% for project in projects %}

            <div class="card" style="width: 18rem;">
                <img src="/uploads/project-category/{{ project.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>{{ project.name }}</h1>
                    <h3>{{ project.projectCategory }}</h3>
                    <p class="card-text">{{ project.description }}</p>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>
                <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
            {% elseif is_granted('ROLE_USER') %}
            {% endif %}
            {#  <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.img }}</td>
                <td>{{ project.description }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
                {% elseif is_granted('ROLE_USER') %}
                    {% endif %}
                </td>
            </tr>#}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}






{% endblock %}
